* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #229db3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#divVidas {
  position: absolute;
  right: 100px;
  top: 50px;
  border-radius: 4px;
}
.vida {
  width: auto;
  height: auto;
  font-size: 25pt;
}

#interacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divCor {
  display: inline-block;
  border: solid #1f1f1f4e;
  width: 100%;
  height: 100px;
  margin: 20px 0;
}

#opcoes {
  width: 540px;
  background-color: #0977c1;
  padding: 10px;
}
.btnResp {
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #ddd;
  cursor: default;
}
.btnResp:hover {
  background-color: #a1a1a1;
}
#historico {
  width: 518px;
  height: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 5px;
  margin-top: 20px;

  color: #fff;
  background-color: #097f85;
  overflow: hidden;
  overflow-y: auto;
}
#historico::-webkit-scrollbar {
  width: 7px;
  background-color: #097f85;
}
#historico::-webkit-scrollbar-thumb {
  background-color: #1c48cc;
}
.spanBlock {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 90px;
  height: 80px;
  background-color: #287ce3;
}

.corHist {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#popupFundo {
  display: none;
  position: absolute;
  background-color: #00000071;
  width: 100%;
  height: 100%;
}

#popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #6dcd00;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);

  width: 500px;
  height: 200px;
}

#btnReset {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
#btnReset:hover {
  background-color: #a1a1a1;
}
