* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: end;
  padding: 10px 50px;
}

#timer {
  color: #fff;
  border-radius: 90px;
  padding: 40px 100px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50pt;
}

.btn {
  border: solid #fff 4px ;
  padding: 10px;
  border-radius: 15px;
  font-size: 12pt;
  transition: 0.3s;
  background-color: #42083b;
  color: #fff;
  font-weight: 600;
}

.btn:hover {
  background-color: #0bba858d;
  color: #000;
  cursor: pointer;
}

#ul {

  text-align: center;
  background-color: #8529d5b0;
  color: #fff;
  min-width: auto;
  padding: 2px 7px;
  min-height: 5px;
  max-height: 180px;
  border-radius: 4px;
  overflow: hidden;
  overflow-y: scroll;
}
#ul::-webkit-scrollbar{
  width: 5px; 
}
#ul::-webkit-scrollbar-thumb{
  background-color: #6b055f;
}

li {
  list-style: decimal-leading-zero inside;
}