* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(160deg, #592366, 60%, #5383e5);
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

header {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: end;
  padding: 10px 50px;
}

#timer {
  /* background-color: #bd5f20d2;
  border: #000000 solid 5px; */
  color: #fff;
  border-radius: 90px;
  padding: 40px 100px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50pt;
}

.botao {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 12pt;
  transition: 0.3s;
  background-color: #5384e588;
  color: #fff;
  font-weight: 600;
}

.botao:hover {
  background-color: #0bba858d;
  color: #000;
  cursor: pointer;
}

ul {
  text-align: center;
  background-color: #8529d5b0;
  color: #fff;
  min-width: 200px;
  min-height: 5px;
  max-height: 250px;
  display: inline-block;
  border-radius: 4px;
}
li {
  text-decoration: none;
  list-style: decimal inside;
}
