* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 100%;
  padding: 15px;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
}

form {
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 4px;
}

#inpBtn {
  cursor: pointer;
  margin-left: 5px;
  border: none;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 12pt;
  font-weight: 600;
}

#inpText {
  border: none;
  border-bottom: solid;
  background: none;
  height: 20px;
  min-width: 40px;
}
#inpText:focus {
  outline: none;
}

#div {
  position: relative;
  margin-top: 15px;
  padding: 10px;
  min-width: 100%;
  border-radius: 4px;
  background-color: #dff;
}

li {
  list-style:none;
  font-size: 15pt;
  margin-right: 25px;
}

.inpC{
  margin-right: 5px;
}

.liBtn {
  position: absolute;
  right: 10px;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  transition: 0.3s;
}
.liBtn:hover {
  border-radius: 40px;
  background-color: rgb(250, 19, 19);
  color: #fff;
}

#delBtn {
  margin-right: -68%;
  cursor: pointer;
  border: none;
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(245, 37, 37);
  color: #fff;
  font-size: 12pt;
}
